
.container {
    padding-top: 40px;
}
#txt, #txt2{
  background-color: red;
  height:2rem;
  width: 2rem;
  text-align: center;
  padding-top: 0.3rem;
}
#txt2{
  background-color: green;
}
h1{
  padding-left: 1rem;
  margin-top: 2rem;
  background-color: white;
  height: 3.3rem;
}
#movieName{
  display: inline-block;
  font-style: italic;
  margin:0.5rem;
}
#flavorText{
  margin-left: 1rem;
  font-size: 1.6rem;
  color: white;
  background-color: black;
}
body{
  background-image: linear-gradient(to right, #ffffff, #333333);
}
